<!DOCTYPE html>
<html>
  
{{ header|safe }}

<div class="container">
  
    <div class="row">
        <!--center the text-->
        <div class="col">
            <h1 class="text-center" id="page_title">Step 1: Read the Article</h1>
            <br><br>
        </div>
    </div>
    <div id="article" class="row">
        <!--make the background here light grey-->
        <div class="col-8" style="background-color: #f8f9fa; max-height: 55vh; overflow-y: scroll;">
            <h2>{{title}}</h2>
            <!-- article contents here-->
            {% for paragraph in paragraphs %}
                <p id="{{paragraph.tag}}">{{paragraph.text | safe}}</p>
            {% endfor %}
        </div>
        <!--make the background dark grey and all the text off-white-->
        <div class="col-4" style="background-color: #343a40; color: #f8f9fa; max-height: 55vh; overflow-y: scroll;">
            <!-- word list here-->
            <h3>Vocabulary</h3>
            <br>
            <span id="wordlist"></span>
        </div>
    </div>
    <div id="article_reread" class="row" hidden>
        <div class="col-2"></div>
        <!--make the background here light grey-->
        <div class="col-8" style="background-color: #f8f9fa;">
            <h2>{{title}}</h2>
            <!-- article contents here-->
            {% for paragraph in paragraphs %}
                <p id="{{paragraph.tag}}"">{{paragraph.text | safe}}</p>
            {% endfor %}
        </div>
        <div class="col-2"></div>
    </div>
    <div id="review_vocab" class="row" hidden>
        <div class="col-3"></div>
        <div class="col-6" style="background-color: #f8f9fa;" id="vocabulary_list">
            
        </div>
        <div class="col-3"></div>
    </div>
    <div id="test_vocab" class="row justify-content-center" hidden>
        <div class="col-3"></div>
        <div class="col-6" id="test_list">
            <div class="card">
                <div class="card-body text-center">
                    <h5 id="card_title" class="card-title">Saying hello</h5>
                    <p id="card_text" class="card-text"></p>
                    <!--add a text box-->
                    <input type="text" class="form-control" id="answer" placeholder="Enter the translation here">
                    <!--add a button-->
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="button" id="dont_remember">I Don't Remember</button>
                    </div>
                    <!--add a button-->
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="button" id="next_card">Next Card</button>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-3"></div>
    </div>
    <div id="test_article" class="row" hidden>
        <div class="col-3"></div>
        <div class="col-6" style="background-color: #f8f9fa;" id="review_questions">
            {% for question in questions %}
                <p><h4>{{question.question}}</h4></p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="option1_question{{question.index}}" name="question{{question.index}}" value="1" />
                    <label class="form-check-label" for="question{{question.index}}">
                        {{question.option1}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="option2_question{{question.index}}" name="question{{question.index}}" value="2" />
                    <label class="form-check-label" for="question{{question.index}}">
                        {{question.option2}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="option3_question{{question.index}}" name="question{{question.index}}" value="3" />
                    <label class="form-check-label" for="question{{question.index}}">
                        {{question.option3}}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="option4_question{{question.index}}" name="question{{question.index}}" value="4" />
                    <label class="form-check-label" for="question{{question.index}}">
                        {{question.option4}}
                    </label>
                </div>                                
            {% endfor %}
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <!--center the text-->
        <div class="col">
            <div class="d-grid gap-2">
                <br><br>
                <button class="btn btn-primary" type="button" id="submit_button" onclick="submit_vocabulary()">Review Vocabulary</button>
                <br><br>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button id="completionModalButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#completionModal" hidden>
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="completionModal" tabindex="-1" aria-labelledby="completionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="completionModalLabel">Congratulations!</h1>
        </div>
        <div class="modal-body" id="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <a type="button" class="btn btn-primary" href="/">Return Home</a>
        </div>
      </div>
    </div>
  </div>

<!-- Button trigger modal -->
<button id="noVocabModalButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#noVocabModal" hidden></button>
  <button id="noVocabModalDismissalButton" type="button" class="btn-close" data-bs-dismiss="modal" data-bs-target="#noVocabModal" aria-label="Close" hidden></button>

  <!-- No Vocab Modal -->
  <div class="modal fade" id="noVocabModal" tabindex="-1" aria-labelledby="noVocabModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="noVocabModalLabel">Are you sure?</h1>
        </div>
        <div class="modal-body" id="modal-body">
            <p>You have not selected any vocabulary words. You will not proceed to the quiz. Are you sure you want to continue?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Stay Here</button>
            <button type="button" class="btn btn-primary" onclick="no_vocab_continue()">Continue</button>
        </div>
      </div>
    </div>
  </div>

<style>
    #vocabulary.fixed {
        position: fixed;
        top: 10px;
        right: 0;
        width: 25%; /* adjust based on your layout */
    }

 </style>

<script>

    //Create a global variable to store the vocabulary words and sentences
    var vocabulary = [];
    var translated_vocabulary = [];

    function vocabulary_list() {
        //Hide everything except the vocabulary list
        document.getElementById("article").hidden = true;
        document.getElementById("review_vocab").hidden = false;
        document.getElementById("test_vocab").hidden = true;
        document.getElementById("test_article").hidden = true;
        document.getElementById("article_reread").hidden = true;
        //Change the title of the page
        document.getElementById("page_title").innerHTML = "Step 2: Review Vocabulary";
        //Update button
        document.getElementById("submit_button").innerHTML = "Complete Review!";
        document.getElementById("submit_button").onclick = async() => { await test_vocabulary() };


        //Clear the vocabulary_list div
        document.getElementById("vocabulary_list").innerHTML = "";

        //For each item in the list, create a span object
        for (var i = 0; i < translated_vocabulary.length; i++) {
            var word = document.createElement("span");
            //The elements to add are word, base, translation, and example
            word.innerHTML = "<p><h5>Word: " + translated_vocabulary[i].word + "</h5></p>"
            word.innerHTML += "<p>Base Form: " + translated_vocabulary[i].base + "</p>"
            word.innerHTML += "<p>Translation: " + translated_vocabulary[i].translation + "</p>"
            word.innerHTML += "<p>Example: " + translated_vocabulary[i].example + "</p>"
            //Add example_translation
            word.innerHTML += "<p>Example Translation: " + translated_vocabulary[i].example_translation + "</p>"
            //Now add a break
            word.innerHTML += "<br>"
            word.id = translated_vocabulary[i].word;
            document.getElementById("vocabulary_list").appendChild(word);
        }
        //Bring the user to the top of the page
        window.scrollTo(0, 0);
    }

    function no_vocab_continue() {
        //Hide the modal
        document.getElementById("noVocabModalDismissalButton").click();
        //Proceed to the final step
        test_article();
    }


    //Create the submit_vocabulary function
    function submit_vocabulary() {
        //If the vocabulary list is empty run the reread function
        if (vocabulary.length == 0) {
            //Show the modal
            document.getElementById("noVocabModalButton").click();
        } else {
            //First make the button load
            document.getElementById("submit_button").innerHTML = "<span class=\"spinner-border spinner-border-sm\" role=\"status\" aria-hidden=\"true\"></span>Loading...";

            //Send the vocabulary list to the server with an AJAX request
            //The url is /submit_vocabulary
            //The data is the vocabulary list
            //The method is POST
            //The success function is the function below
            $.ajax({
                url: "/submit_vocabulary/",
                data: JSON.stringify(vocabulary),
                type: "POST",
                contentType: "application/json",
                //Set a header
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                success: function(response) {
                    //Log the response to the console
                    console.log(response);
                    //If the response is a string
                    if (typeof response === 'string' || response instanceof String) {
                        //If the string is Error: Failed to parse the data
                        if (response == "Error: Failed to parse the data") {
                            //Alert the user that the AI is not responding correctly
                            alert("The AI is not responding correctly. Please try again later.");
                            //Refresh the page
                            location.reload();
                        } else {
                            //Alert that there is an unknown error
                            alert("An unknown error has occurred. Please try again later.");
                            //Refresh the page
                            location.reload();
                        }
                    }
                    translated_vocabulary = response;
                    vocabulary_list();
                }
                //If there is an error, print the error to the console
            }).fail(function() {
                console.log("Error submitting vocabulary");
                //Alert that there is an unknown error
                alert("An unknown error has occurred. Please try again later.");
                //Refresh the page
                location.reload();
            });
        }
    }

    //See if the user correctly translated the word
    function step3_correct(answer) {
        return new Promise((resolve, reject) => {
            document.getElementById("answer").addEventListener("input", function() {
                // Split the provided answer by commas
                var correctAnswers = answer.split(",");
                //Get rid of any leading or trailing whitespace
                correctAnswers = correctAnswers.map(function(x) {
                    return x.trim();
                });
                // Check if the current input value is in the list of correct answers
                if (correctAnswers.includes(this.value)) {
                    // If the answer is correct, resolve the promise
                    resolve("Correct");
                } else {
                    // If the answer is incorrect, make the text red
                    this.style.color = "red";
                }
            });
        });
    }

    //Create a function for the test_vocabulary button
    function step3_incorrect() {
        //If the button dont_remember is clicked
        //Return the promise
        return new Promise((resolve, reject) => {
            document.getElementById("dont_remember").addEventListener("click", function() {
                resolve("Incorrect");
            });
        });
    }

    //Create a function for the test_vocabulary button next_card
    function step3_next_card() {
        //If the button next_card is clicked
        //Return the promise
        return new Promise((resolve, reject) => {
            document.getElementById("next_card").addEventListener("click", function() {
                resolve("Continue");
            });
        });
    }

    async function test_vocabulary() {
        //If the vocabulary list is empty run the reread function
        if (translated_vocabulary.length == 0) {
            test_article();
        } else {
            document.getElementById("review_vocab").hidden = true;
            //Change the title of the page
            document.getElementById("page_title").innerHTML = "Step 3: Test Vocabulary";
            //Update button
            document.getElementById("submit_button").innerHTML = "Review Again!";
            document.getElementById("submit_button").setAttribute("onclick", "vocabulary_list()");

            //Clear the test_list div
            //document.getElementById("test_list").innerHTML = "";

            //Copy the vocabulary list to a new list
            var test_vocabulary = translated_vocabulary
            //Shuffle the list
            test_vocabulary.sort(() => Math.random() - 0.5);
            //While the test list is not empty
            while (test_vocabulary.length > 0) {
                //show the div
                document.getElementById("test_vocab").hidden = false;
                //Iterate through all the words
                var words_to_remove = [];
                for (var i=0; i < test_vocabulary.length; i++) {
                    //Make the card title the word
                    document.getElementById("card_title").innerHTML = test_vocabulary[i].base;
                    //Make the card text the example
                    document.getElementById("card_text").innerHTML = test_vocabulary[i].example;
                    //Hide the next card button and show the text box and dont remember button
                    document.getElementById("next_card").hidden = true;
                    document.getElementById("answer").hidden = false;
                    document.getElementById("dont_remember").hidden = false;
                    //Get the answer
                    var answer = test_vocabulary[i].translation;
                    promise_result = await Promise.race([
                        step3_correct(answer),
                        step3_incorrect()
                    ]);
                    if (promise_result == "Correct") {
                        //If the promise is correct, add the word to the words_to_remove list
                        words_to_remove.push(i);
                        //Clear the text box
                        document.getElementById("answer").value = "";
                    } else {
                        //Hide the dont remember button and the text box and show the next card button
                        document.getElementById("next_card").hidden = false;
                        document.getElementById("answer").hidden = true;
                        document.getElementById("dont_remember").hidden = true;
                        //Make the card text show the translation
                        document.getElementById("card_text").innerHTML = test_vocabulary[i].translation;
                        //Wait for the next card button to be clicked
                        promise_result = await step3_next_card();
                    }
                }
                //Reverse sort the words_to_remove list
                words_to_remove.sort((a, b) => b - a);
                //Remove the words from the test_vocabulary list
                for (var i = 0; i < words_to_remove.length; i++) {
                    test_vocabulary.splice(words_to_remove[i], 1);
                }
            }
            //Bring the user to the top of the page
            window.scrollTo(0, 0);
            //Now that the test is complete proceed to reread
            reread();
        }
    }

    function reread() {
        //Change the title to Step 4: Reread the Article
        document.getElementById("page_title").innerHTML = "Step 4: Reread the Article";
        //Hide the test_vocab div
        document.getElementById("test_vocab").hidden = true;
        //Make sure the article div is hidden
        document.getElementById("article").hidden = true;
        //Show the article div
        document.getElementById("article_reread").hidden = false;
        //Update the button
        document.getElementById("submit_button").innerHTML = "Proceed to test!";
        document.getElementById("submit_button").setAttribute("onclick", "test_article()");
    }

    function test_article() {
        //Hide the article_reread div
        document.getElementById("article_reread").hidden = true;
        //Make sure the article div is hidden
        document.getElementById("article").hidden = true;
        //Change the title to Step 5: Test Yourself
        document.getElementById("page_title").innerHTML = "Step 5: Test Reading Comprehension";
        //Show the test_article div
        document.getElementById("test_article").hidden = false;
        //Update the button
        document.getElementById("submit_button").innerHTML = "Submit Answers";
        document.getElementById("submit_button").setAttribute("onclick", "submit_answers()");
    }

    function submit_answers() {
        //Have the button load
        document.getElementById("submit_button").innerHTML = "<span class=\"spinner-border spinner-border-sm\" role=\"status\" aria-hidden=\"true\"></span>Loading...";
        //Send the selected answers to the server with an AJAX request
        var answers = document.getElementById("review_questions")
        var selected_answers = [];
        for (var i = 0; i < answers.children.length; i++) {
            var children = answers.children[i].children;
            for (var j = 0; j < children.length; j++) {
                if (children[j].tagName == "INPUT") {
                    if (children[j].checked) {
                        selected_answers.push(parseInt(children[j].value));
                    }
                }
            }
        }
        //The url is /daily_article/ 
        //The data is the selected answers
        //The method is POST
        //The success function is the function below
        $.ajax({
            url: "/daily_article/",
            data: JSON.stringify({answers: selected_answers}),
            type: "POST",
            contentType: "application/json",
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": "{{ csrf_token }}"
            },
            success: function(response) {
                //The response is a dictionary with the keys "correct_answers"
                var correct_answers = response.correct_answers;
                //Iterate through the selected answers and check if they are correct
                for (var i = 0; i < selected_answers.length; i++) {
                    if (selected_answers[i] != correct_answers[i]) {
                        //If the answer is incorrect, change the color to red
                        document.getElementById("option" + selected_answers[i] + "_question" + (i + 1).toString()).nextElementSibling.style.color = "red";
                        //Change the color of the correct answer to green
                        document.getElementById("option" + correct_answers[i] + "_question" + (i + 1).toString()).nextElementSibling.style.color = "green";
                    } else {
                        //If the answer is correct, change the color to green
                        document.getElementById("option" + selected_answers[i] + "_question" + (i + 1).toString()).nextElementSibling.style.color = "green";
                    }
                }
                //Update the modal
                var modal_body = "<p>You have completed the exercise!</p><br>";
                modal_body += "<p>You received 10 points for completing the exercise and ";
                modal_body += (response.total_correct*2).toString() + " points for answering ";
                //Just divide the score by 2 to get the number of correct answers
                modal_body += (response.total_correct).toString() + " questions correctly.</p><br>";
                document.getElementById("modal-body").innerHTML = modal_body;
                //Change the button to say return home
                document.getElementById("submit_button").innerHTML = "Return Home";
                //Make the button's action to return home
                document.getElementById("submit_button").setAttribute("onclick", "window.location.href = '/'");
                //Show the modal
                document.getElementById("completionModalButton").click();
            }
        }).fail(function() {
            console.log("Error submitting answers");
        });        
    }


    {% for item in w2s_map %}
        //Create an event listener for a span object with id {{item.word}}
        document.getElementById("{{item.word}}").addEventListener("click", function() {
            //Get the value 
            var word_value = document.getElementById("{{item.word}}").innerText;
            //Clean the word of any punctuation or quotes
            word_value = word_value.replace(/[.,\/#!$%\^&\*;:{}=\-_`~()]|['"]+/g,"");
            //Add the word to the word list
            var wordlist = document.getElementById("wordlist");
            var word = document.createElement("span");
            word.innerHTML = word_value + "<br>";
            wordlist.appendChild(word);
            //Get the sentence value
            var sentence_value = document.getElementById("{{item.sentence}}").innerText;
            //Add the word and sentence to the vocabulary list
            vocabulary.push({word: word_value, sentence: sentence_value});
        });
    {% endfor %}

</script>
    

  </body>
</html>

