<!DOCTYPE html>
<html>
  
{{ header|safe }}

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content justify-content-center">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Vitamova Tutorial</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ratio ratio-16x9">
        <iframe src="https://www.youtube.com/embed/dog1zbwu8nE?si=Yb18DCGkBQpwvIDc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<br>

<div class="container">

  <div id="chart_div" style="width: 400px; height: 120px;" hidden></div>
  <div class="row gy-1 justify-content-center">
    <div class="col text-center">
      <h1>Welcome, {{ user.first_name }}!</h1>
    </div>
    <div class="col text-center">
      <h2>Points: {{ points }}</h2>
    </div> 
    <div class="col text-center">
      <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Start Here</button>
    </div> 
  <div class="row gy-3">
    <div class="col-2"></div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Article of the Day</h5>
          <p class="card-text">Read today's article and earn up to 20 points after completing the multiple choice test at the end.</p>
          <button id="daily_article" onclick="window.location.href='/daily_article'" class="btn btn-primary" {% if article_read %}disabled{% endif %}>Read the Article</button>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Flashcards</h5>
          <p class="card-text">You have {{flashcard_count}} words in your queue to learn. Earn 1 point per word reviewed.</p>
          <div class="d-flex justify-content-between">
            <button onclick="window.location.href='/flashcards'" class="btn btn-primary" {% if flashcard_count == 0 %}disabled{% endif %}>Review All</button>
            <button onclick="window.location.href='/flashcards?q=10'" class="btn btn-primary" {% if flashcard_count == 0 %}disabled{% endif %}>Review 10</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
    <div class="col-6" hidden>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Writing</h5>
          <p class="card-text">Earn 15 points by writing a short passage!</p>
          <button onclick="window.location.href='/write'" class="btn btn-primary" disabled>Coming Soon</button>
        </div>
      </div>
    </div>
    <div class="col-6" hidden>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Transcribe</h5>
          <p class="card-text">Listen to a passage and write down the words for up to 30 points!</p>
          <button id="daily_article" onclick="window.location.href='/transcribe'" class="btn btn-primary" disabled>Coming Soon</button>
        </div>
      </div>
    </div>
    <div class="col-6" hidden>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Memorize Poetry</h5>
          <p class="card-text">Earn 30 points by memorizing a poem!</p>
          <button onclick="window.location.href='/poetry'" class="btn btn-primary" disabled>Coming Soon</button>
        </div>
      </div>
    </div>
  </div>
</div>
    
<script type="text/javascript">

  google.charts.load('current', {'packages':['gauge']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var data = google.visualization.arrayToDataTable([
      ['Label', 'Value'],
      ['Memory', 80],
      ['CPU', 55],
      ['Network', 68]
    ]);

    var options = {
      width: 400, height: 120,
      redFrom: 90, redTo: 100,
      yellowFrom:75, yellowTo: 90,
      minorTicks: 5
    };

    var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

    chart.draw(data, options);

    setInterval(function() {
      data.setValue(0, 1, 40 + Math.round(60 * Math.random()));
      chart.draw(data, options);
    }, 13000);
    setInterval(function() {
      data.setValue(1, 1, 40 + Math.round(60 * Math.random()));
      chart.draw(data, options);
    }, 5000);
    setInterval(function() {
      data.setValue(2, 1, 60 + Math.round(20 * Math.random()));
      chart.draw(data, options);
    }, 26000);
  }
</script>

  </body>
</html>

