<!DOCTYPE html>
<html>

{{ header|safe }}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>Flashcards</h1>
            <p>Study Your Vocabulary</p>
        </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4 text-center">
        <div class="card">
          <div class="card-body">
            <h5 id="card_title" class="card-title"></h5>
            <p id="card_text" class="card-text"></p>
            <div class="d-flex justify-content-between">
              <a id="right_answer" onclick="wrong_answer()" class="btn btn-danger">Wrong</a>
              <a id="wrong_answer" onclick="right_answer()" class="btn btn-primary">Right</a>
            </div>
            <a id="show_answer" onclick="show_answer()" class="btn btn-primary">Show Answer</a>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row justify-content-center">
      <div class="col-6 text-center">
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar w-0"></div>
        </div>
      </div>
    </div>
</div>

<script>

  var words = {{ flashcards | safe }};

  // Function to shuffle the words array
  function shuffle(array) {
      for (let i = array.length - 1; i > 0; i--) {
          const j = Math.floor(Math.random() * (i + 1));
          [array[i], array[j]] = [array[j], array[i]];
      }
  }

  //Shuffle the words
  shuffle(words);
  //Set the first word
  var current_word = 0;

  function show_word() {
    document.getElementById("card_title").innerHTML = words[current_word].word;
    document.getElementById("card_text").innerHTML = words[current_word].example;
    //Hide the right and wrong buttons
    document.getElementById("right_answer").style.display = "none";
    document.getElementById("wrong_answer").style.display = "none";
    //Show the show answer button
    document.getElementById("show_answer").style.display = "block";
    //Update the progress bar
    document.querySelector(".progress-bar").style.width = (current_word / words.length) * 100 + "%";
  }

  
  
   

  function right_answer() {
    console.log("Right Answer");
    //Open an AJAX request to the server
    $.ajax({
      type: "POST",
      url: "/flashcards/",
      contentType: "application/json",
      //Set a header
      headers: {
          "X-Requested-With": "XMLHttpRequest",
          "X-CSRFToken": "{{ csrf_token }}"
      },
      data: JSON.stringify({
        word_id: words[current_word].id,
        correct: true
      }),
      success: function(data) {
        console.log(data);
        //If the current word is the last word
        if (current_word == words.length - 1) {
          //Redirect to the home page
          window.location.href = "/";
        } else {
          //Show the next word
          current_word++;
          show_word();
        }
      }
    });
  }

  function wrong_answer() {
    console.log("Wrong Answer");
    //Open an AJAX request to the server
    $.ajax({
      type: "POST",
      url: "/flashcards/",
      contentType: "application/json",
      //Set a header
      headers: {
          "X-Requested-With": "XMLHttpRequest",
          "X-CSRFToken": "{{ csrf_token }}"
      },
      data: JSON.stringify({
        word_id: words[current_word].id,
        correct: false
      }),
      success: function(data) {
        console.log(data);
        //If the current word is the last word
        if (current_word == words.length - 1) {
          //Redirect to the home page
          window.location.href = "/";
        } else {
          //Show the next word
          current_word++;
          show_word();
        }
      }
    });
  }

  function show_answer() {
    console.log("Show Answer");
    //Show the right and wrong buttons
    document.getElementById("right_answer").style.display = "block";
    document.getElementById("wrong_answer").style.display = "block";
    //Hide the show answer button
    document.getElementById("show_answer").style.display = "none";
    //Make the card text the definition
    document.getElementById("card_text").innerHTML = words[current_word].definition;
  }
    
  show_word();

</script>

  </body>
</html>