<!DOCTYPE html>
<html>
  
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

{{ header|safe }}

<div class="container">
  
  <div class="row">
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Memorize Poetry</h5>
              <p class="card-text">Earn 30 points by memorizing a poem!</p>
              <a href="/poetry" class="btn btn-primary">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Article of the Day</h5>
              <p class="card-text">Read today's article titled TITLE and earn 20 points for completing the multiple choice test at the end.</p>
              <a href="#" class="btn btn-primary">Coming soon!</a>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Flashcards</h5>
              <p class="card-text">You have XX words in your queue to learn. Earn 1 point per word memorized!</p>
              <a href="#" class="btn btn-primary">Coming soon!</a>
            </div>
          </div>
        </div>
  </div>
</div>
    

  </body>
</html>

