<!DOCTYPE html>
<html>

{{ header|safe }}

{% csrf_token %}

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <btn class="btn btn-block btn-info" onclick="location.reload()">Read Different Article</btn>
        </div>
        <div class="col-7" style="background: #FCF3CF;">
            {{read_text|safe}}
            <button class="btn btn-block btn-primary btn-lg" onclick="complete_article()">Complete</button>
            <br><br>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<!--
<div class="col-3 fixed-bottom" style="background:white;">
    <h3 id="translation"></h3>
</div>-->

<div id="translation_box" style="position:fixed;left:20px;bottom:200px;background-color:#F9E79F">
    <h3 id="translation"></h3>
</div>

<script>
    var word_count = {{word_count}};
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    
    var stored_token = window.localStorage.getItem("login_token");
    if (stored_token==null) {
        stored_token = window.sessionStorage.getItem("login_token");
    }
    var stored_email = window.localStorage.getItem("login_email");   
    
    function translate_ua(word) {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
           // Typical action to be performed when the document is ready:
           var translation = this.responseText;
           document.getElementById("translation").innerHTML = translation;
        }
      };
      xhttp.open("POST", "/read/", false);
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.send("request=translate&csrfmiddlewaretoken="+csrftoken+"&email="+stored_email+"&login_token="+stored_token+"&word="+word);
    }
    
    function complete_article() {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
           // Typical action to be performed when the document is ready:
           if (this.responseText === "success") {
               location.reload();
           } else {
               complete_article();
           }
        }
      };
      xhttp.open("POST", "/read/", false);
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.send("request=complete&csrfmiddlewaretoken="+csrftoken+"&email="+stored_email+"&login_token="+stored_token+"&wordcount="+word_count.toString());
    }
</script>

  </body>
</html>