<!DOCTYPE html>
<html>

{{ header | safe }}

<div class="row">
    <div class="col"></div>
    <div class="col">
        <form action="/signup/" method="POST" id="signup_form">
            {% csrf_token %}
            <div class="form-group">
                <label for="InputUsername">Username</label>
                <input type="text" class="form-control" id="InputUsername" aria-describedby="usernameHelp" name="username" required>
            </div>
            <div class="form-group">
                <label for="InputEmail">Email address</label>
                <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" name="email" required>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="InputPassword">Password</label>
                <input type="password" class="form-control" id="InputPassword" name="password" required>
                <small id="passwordHelp" class="form-text text-muted">Must be at least 10 characters.</small>
            </div>
            <div class="form-group">
                <label for="InputPassword2">Confirm Password</label>
                <input type="password" class="form-control" id="InputPassword2" required>
            </div>
            <div class="form-group">
                <label for="InputFirst">First Name</label>
                <input type="text" class="form-control" id="InputFirst" name="first_name" required>
            </div>
            <div class="form-group">
                <label for="InputLast">Last Name</label>
                <input type="text" class="form-control" id="InputLast" name="last_name">
            </div>
            <div class="form-group">
                <label for="InputLanguage">Language</label>
                <select class="form-select" id="InputLanguage" name="language" required>
                    <option value="de">German</option>
                    <option value="pt">Portuguese</option>
                    <option value="es">Spanish</option>
                    <option value="uk">Ukrainian</option>
                </select>
            </div>
            <div class="form-group">
                <label for="InputSubscription">Subscription Tier</label>
                <select class="form-select" id="InputLanguage" name="subscription" required>
                    <option value="pro">Pro</option>
                    <option value="free">Free</option>
                </select>
            </div>            
            <br>
            <button id="submitbutton" type="submit" class="btn btn-primary" hidden>Sign Up</button>
            &nbsp<a href="/login/">Already have an account?</a>
        </form>
        <br>
        <br>
    </div>
    <div class="col"></div>
</div>

<script>
    var email = document.getElementById("InputEmail");
    var password1 = document.getElementById("InputPassword");
    var password2 = document.getElementById("InputPassword2");
    var form = document.getElementById("signup_form");
    var submitbutton = document.getElementById("submitbutton");
    form.addEventListener("input", function () {
        if (password1.value === password2.value && password1.value.length>9&&validateEmail(email.value)) {
            submitbutton.hidden = false;
        } else {
            submitbutton.hidden = true;
        }
    });
    function validateEmail(email) {
        const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(email).toLowerCase());
    }
</script>
  
  </body>
</html>

