<!DOCTYPE html>
<html>
  
{{ header|safe }}
<br>
 <div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <div class="d-grid gap-2">
        <button id="account_info_button" class="btn btn-secondary" type="button" onclick="info()">Account Info</button>
        <button id="account_security_button" class="btn btn-outline-secondary" type="button" onclick="security()">Security</button>
        <button id="account_points_button" class="btn btn-outline-secondary" type="button" onclick="points()">Points</button>
      </div>
    </div>
    <div class="col-8">
      <div id="account_info">
        <h1> Your Account </h1>
        <!--Uneditable text field with username-->
        <!--make the background of the field grey-->
        <div class="form-group">
            <label for="InputUsername">Username</label>
            <input type="text" class="form-control" id="InputUsername" aria-describedby="usernameHelp" value="{{user.username}}" readonly style="background-color: #e9ecef;">
            <small id="usernameHelp" class="form-text text-muted">You cannot change your username.</small>
        </div>
        <div class="form-group">
            <label for="InputEmail">Email address</label>
            <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" name="email" value="{{user.email}}">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="InputFirst">First Name</label>
            <input type="text" class="form-control" id="InputFirst" name="first_name" value="{{user.first_name}}">
        </div>
        <div class="form-group">
            <label for="InputLast">Last Name</label>
            <input type="text" class="form-control" id="InputLast" name="last_name" value="{{user.last_name}}">
        </div>
        <!--Dropdown with Languages, only list Ukrainian and Spanish for now-->
        <div class="form-group">
          <label for="InputLanguage">Language</label>
          <input type="text" class="form-control" id="InputLanguage" aria-describedby="languageHelp" value="{{language}}" readonly style="background-color: #e9ecef;">
          <small id="languageHelp" class="form-text text-muted">Vitamova does not yet support changing your language.</small>
        </div>


        <br>
        <button id="change_info" class="btn btn-primary" onclick="update_account()">Make Changes</button>
      </div>
      <div id="security_info" hidden>
        <h1> Change Password </h1>
        <div class="form-group">
          <label for="CurrentPassword">Current Password</label>
          <input type="password" class="form-control" id="CurrentPassword" name="password" required>
        </div>
        <div class="form-group">
          <label for="InputPassword">New Password</label>
          <input type="password" class="form-control" id="InputPassword" name="new_password" required>
          <small id="passwordHelp" class="form-text text-muted">Must be at least 10 characters.</small>
        </div>
        <div class="form-group">
          <label for="InputPassword2">Confirm New Password</label>
          <input type="password" class="form-control" id="InputPassword2" required>
        </div>
        <br>
        <button id="change_password" class="btn btn-primary" onclick="update_account()" hidden>Change Password</button>
      </div>
      <div id="points_info" hidden>
        <h1> Total Points {{points}} </h1>
        </form>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>

  <script>

    //I want a listener that will check if the password is at least 10 characters and the two passwords match
    //If they do, the "Change Password" button will appear
    document.getElementById("InputPassword").addEventListener("input", function() {
      var password = document.getElementById("InputPassword").value;
      var password2 = document.getElementById("InputPassword2").value;
      if (password.length >= 10 && password == password2) {
        document.getElementById("change_password").hidden = false;
      } else {
        document.getElementById("change_password").hidden = true;
      }
    });

    function info() {
      document.getElementById("account_info").hidden = false;
      document.getElementById("security_info").hidden = true;
      document.getElementById("points_info").hidden = true;
      //Change the class of the buttons
      document.getElementById("account_info_button").className = "btn btn-secondary";
      document.getElementById("account_security_button").className = "btn btn-outline-secondary";
      document.getElementById("account_points_button").className = "btn btn-outline-secondary";
    }
    function security() {
      document.getElementById("account_info").hidden = true;
      document.getElementById("security_info").hidden = false;
      document.getElementById("points_info").hidden = true;
      //Change the class of the buttons
      document.getElementById("account_info_button").className = "btn btn-outline-secondary";
      document.getElementById("account_security_button").className = "btn btn-secondary";
      document.getElementById("account_points_button").className = "btn btn-outline-secondary";
    }
    function points() {
      document.getElementById("account_info").hidden = true;
      document.getElementById("security_info").hidden = true;
      document.getElementById("points_info").hidden = false;
      //Change the class of the buttons
      document.getElementById("account_info_button").className = "btn btn-outline-secondary";
      document.getElementById("account_security_button").className = "btn btn-outline-secondary";
      document.getElementById("account_points_button").className = "btn btn-secondary";
    }
    function update_account() {
      //Change button to say "Loading"
      document.getElementById("change_info").innerHTML = "<span class=\"spinner-border spinner-border-sm\" role=\"status\" aria-hidden=\"true\"></span>Loading...";
      //Get the values of the form
      var email = document.getElementById("InputEmail").value;
      var first_name = document.getElementById("InputFirst").value;
      var last_name = document.getElementById("InputLast").value;
      var language = document.getElementById("InputLanguage").value;
      var password = document.getElementById("InputPassword").value;
      //Perform an AJAX request to update the account
      $.ajax ({
        type: "POST",
        url: "/update_account/",
        contentType: "application/json",
        headers: {
          "X-Requested-With": "XMLHttpRequest",
          "X-CSRFToken": "{{ csrf_token }}"
        },
        data: JSON.stringify({
          email: email,
          first_name: first_name,
          last_name: last_name,
          language: language
        }),
        success: function(data) {
          //Change button back to "Make Changes"
          document.getElementById("change_info").innerHTML = "Make Changes";
          //Show a success message
          alert("Account updated successfully!");
        }
      }).fail(function() {
        //Change button back to "Make Changes"
        document.getElementById("change_info").innerHTML = "Make Changes";
        //Show an error message
        alert("An error occurred. Please try again.");
      });
    }
  </script>

  </body>
</html>

